<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>霸王餐</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="stylesheet" href="/static/index/libs/weui.min.css">
  <link rel="stylesheet" href="/static/index/libs/jquery-weui.min.css">
  <link rel="stylesheet" href="/static/index/libs/index.css">
  <script src="/static/index/libs/jquery-2.1.4.js"></script>
  <style>
    .shopimg img {
      width: 100%;
      display: inherit;
      height: 170px;
    }

    .bgs {
      z-index: 999;
      display: block;
      background: rgba(0, 0, 0, .6);
    }

    .bga {
      text-align: center;
      padding-top: 30%;
      color: #fff;
    }
  </style>
</head>

<body class="bg-gray">
  <div id="app" v-cloak>
    <div class="in_topbox fixed">
      <a class="in_user" href="my.html"><img :src="userInfo.avatar"></a>
      <a class="search-bar__box" href="javascript:;" style="width:50%">
        <i class="weui-icon-search"></i>
        <input type="search" class="search-bar__input" id="searchInput" placeholder="搜索" required=""
          @input='value($event)'>
      </a>
      <div class="locationbox">
        <img src="/static/index/images/location.png">
        <p>郑州</p>
      </div>
    </div>
    <!-- banner -->
    <swiper class="wrapper-swiper-container  banner container radius" :options="swiperOption" v-if='banner'>
      <swiper-slide>
        <div class="swiper-slide"><img src="/static/index/images/banner.jpg" /></div>
      </swiper-slide>
      <swiper-slide>
        <div class="swiper-slide"><img src="/static/index/images/banner.jpg" /></div>
      </swiper-slide>
      <swiper-slide>
        <div class="swiper-slide"><img src="/static/index/images/banner.jpg" /></div>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination" style="bottom:1px"></div>
    </swiper>
    <div class="picker shoplist">
      <div class="item">
        <select class="select" name="select" @change='getCategoryFn($event)' style="text-align-last: center;">
          <option value="0">品类</option>
          <option :value="item.id" v-for='(item,index) in getCategoryData' :key='index'>{{item.name}}</option>
          <!-- <option value="3">小吃</option>
          <option value="4">面食</option> -->
        </select>
        <img src="/static/index/images/down.png">
      </div>
      <div class="item">
        <select class="select" name="select" @change='getCityCodeFn($event)' style="text-align-last: center;">
          <option value="0">区域</option>
          <option :value="item.code" v-for='(item,index) in getAreaData' :key='index'>{{item.name}}</option>
        </select>
        <img src="/static/index/images/down.png">
      </div>
      <div class="item">
        <select class="select" name="select" @change='distanceFn($event)' style="text-align-last: center;">
          <option value="0">距离</option>
          <option :value="index+1" v-for='(item,index) in distance' :key='index'>{{item}}(km)</option>
        </select>
        <img src="/static/index/images/down.png">
      </div>
      <div class="item">
        <select class="select" name="select" @change='redPacketFn($event)' style="text-align-last: center;">
          <option value="0">红包大小</option>
          <option :value="index+1" v-for='(item,index) in redPacket' :key='index'>{{item}}(元)</option>
        </select>
        <img src="/static/index/images/down.png">
      </div>
    </div>
    <div class="shoplist">
      <a class="shop_item" :href="'shop.html?id='+item.id" v-for='(item,index) in getStoreIndex' :key='index'>
        <div class="shopimg"><img :src="item.image"></div>
        <div class="shop_info">
          <div class="shop_head">
            <div class="name">{{item.name}}</div>
            <!-- 未报名 人数-->
            <div class="progress_box" v-if='item.activity_mode == 0 '>
              <div id="Value" class="slider_value">剩余名额:{{item.num-item.count}}</div>
              <div class="weui-progress__bar">
                <div class="weui-progress__inner-bar js_progress" :style="{width:item.count+'%'}"></div>
              </div>
            </div>
            <!-- 未报名 时间-->
            <div class="progress_box" v-else-if='item.activity_mode == 1'>
              <div id="Value" class="slider_value">
                <p>开始时间：{{ manageTime(item.start_time)}}</p>
                <p>结束时间：{{ manageTime(item.end_time)}}</p>
              </div>
            </div>
            <!-- 已结束 -->
            <!-- <div class="signup" v-if='item.is_active==3'>
              <span style="color:red">已结束</span>
            </div> -->
            <!-- 已报名 -->
            <!-- <div class="signup" v-else-if='item.is_active==1'><i class="weui-icon-success"></i><span>已报名</span></div> -->
            <!-- 完成校验 -->
            <!-- <div class="signup" v-else-if='item.is_active==2'><i class="weui-icon-success"></i><span>已领取</span></div> -->
          </div>
          <div class="shop_tips">
            <p v-for='(data,i) in JSON.parse(item.tags)' :key='i'>
              {{data}}
            </p>
          </div>
          <div class="shop_money">
            <div class="money">{{item.price}}元</div>
            <div class="distance">{{item.distance}}km</div>
          </div>
        </div>
      </a>
      <!-- 缺失页面 -->
      <div class="padding-xl" v-if='getStoreIndex.length==0'>
        <div class="emptybox padding-lg text-center">
          <img src="/static/index/images/empty.png">
          <div class="text-ml">暂无信息~</div>
        </div>
      </div>
    </div>
    <!-- 关注公众号 -->
    <div id="full" class='weui-popup__container bgs' v-if='QRcode'>
      <div class="sharebox">
        <div class='bga'>
          <div class="img"><img :src="attentionData.qrcode"></div>
          <div class="btn">
            <div>{{attentionData.msg}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/index/libs/fastclick.js"></script>
  <script src="/static/index/libs/request.js"></script>
  <script src="/static/index/libs/vue.min.js"></script>
  <script src="/static/index/libs/jquery-weui.min.js"></script>
  <script src="/static/index/libs/swiper.min.js"></script>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@3.1.3/dist/vue-awesome-swiper.min.js"></script>
  <script>
    $(function () {
      Vue.use(window.VueAwesomeSwiper);
      new Vue({
        el: "#app",
        data() {
          return {
            banner: true,
            swiperOption: {
              slidesPerView: 1,
              loop: true,
              pagination: {
                el: '.swiper-pagination',
              },
            },
            userInfo: {},
            redPacket: [],
            distance: [],
            getStoreIndex: [],
            getAreaData: [],
            getCategoryData: [],
            distance_id: 0,
            red_packet_id: 0,
            getCategory_id: 0,
            getCityCode_id: 0,
            page: 1,
            QRcode: false,
            attentionData: {}
          }
        },
        created() {
          let that = this;
          that.weChatSdk();
          that.getRedPacketIndex();
          // 登录
          if (!sessionStorage.getItem('token')) {
            WechatLogin(window).then((res) => {
              that.storeDetail(res);
            }).catch((err) => {
              console.log(err)
            });
          } else {
            that.userInfo = JSON.parse(sessionStorage.getItem('userInfo'));
            that.getStoreIndexData();
            that.attention();
          }
        },
        mounted() {
          window.addEventListener('scroll', this.scrollToTop)
        },
        methods: {
          // 选择距离
          distanceFn(e) {
            let that = this;
            that.page = 1;
            that.distance_id = e.target.value;
            that.getStoreIndexData({
              distance: e.target.value,
              red_packet: that.red_packet_id,
              category: that.getCategory_id,
              code: that.getCityCode_id
            })
          },
          // 选择红包
          redPacketFn(e) {
            let that = this;
            that.page = 1;
            that.red_packet_id = e.target.value;
            that.getStoreIndexData({
              red_packet: e.target.value,
              distance: that.distance_id,
              category: that.getCategory_id,
              code: that.getCityCode_id
            })
          },
          // 品类
          getCategoryFn(e) {
            let that = this;
            that.page = 1;
            that.getCategory_id = e.target.value;
            that.getStoreIndexData({
              red_packet: that.red_packet_id,
              distance: that.distance_id,
              category: e.target.value,
              code: that.getCityCode_id
            })
          },
          // 区域
          getCityCodeFn(e) {
            let that = this;
            that.page = 1;
            that.getCityCode_id = e.target.value;
            that.getStoreIndexData({
              red_packet: that.red_packet_id,
              distance: that.distance_id,
              category: that.getCategory_id,
              code: e.target.value
            })
          },
          // 搜索
          value(e) {
            let that = this;
            that.page = 1;
            that.banner = e.target.value.length ? false : true;
            that.getStoreIndexData({
              search: e.target.value
            })
          },
          async getRedPacketIndex() {
            let that = this;
            try {
              // 查询红包金额、距离
              const getRedPacket = await updateResturant({
                'url': '/index/getRedPacket',
                data: {}
              });
              that.redPacket = getRedPacket.data.redPacket;
              that.distance = getRedPacket.data.distance;
              // 查询分类
              const getCategory = await updateResturant({
                'url': '/index/getCategory',
                data: {}
              });
              that.getCategoryData = getCategory.data;

            } catch (error) {
              console.log(error);
            }
          },
          // 查询店铺活动
          async getStoreIndexData({
            code = 0,
            category = 0,
            distance = 0,
            red_packet = 0,
            lng = 0,
            lat = 0,
            search = ''
          } = {}) {
            let that = this;
            try {
              const getStore = await updateResturant({
                'url': '/index/getStore',
                data: {
                  user_id: JSON.parse(sessionStorage.getItem('userInfo')).id,
                  code,
                  category,
                  distance,
                  red_packet,
                  lng: sessionStorage.getItem('getlication') ? JSON.parse(sessionStorage.getItem(
                    'getlication')).longitude : 0,
                  lat: sessionStorage.getItem('getlication') ? JSON.parse(sessionStorage.getItem(
                    'getlication')).latitude : 0,
                  page: that.page,
                  size: 12,
                  search
                }
              });
              that.page > 1 ? that.getStoreIndex = that.getStoreIndex.concat(getStore.data) : that
                .getStoreIndex = getStore.data;
            } catch (error) {
              console.log(error);
              // alert(error)
            }
          },
          // 微信js-sdk 
          async weChatSdk() {
            let that = this;
            try {
              const sdk = await updateResturant({
                'url': '/Wxjssdk/jssdk',
                data: {
                  url: window.location.href
                }
              });
              const data = sdk.data;
              wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: data.appId, // 必填，公众号的唯一标识
                timestamp: data.timestamp, // 必填，生成签名的时间戳
                nonceStr: data.nonceStr, // 必填，生成签名的随机串
                signature: data.signature, // 必填，签名，见附录1
                jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
              });
              wx.ready(function () {
                // 在这里调用 API
                wx.checkJsApi({
                  jsApiList: ['getLocation'],
                  success: (res) => {
                    console.log(res)
                  }
                });
                wx.getLocation({
                  type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                  success: function (res) {
                    sessionStorage.setItem('getlication', JSON.stringify(res));
                    that.getStoreIndexData();
                    that.getCityCode(res);
                  }
                });
              });
            } catch (error) {
              // console.log(error)
            }
          },
          // 获取城市code
          getCityCode(res) {
            $.ajax({
              url: "https://bwc.leexf.club/api/index/map",
              data: {
                lat: res.latitude,
                lng: res.longitude
              },
              type: "get",
              crossDomain: true,
              success: (res) => {
                this.getArea(res.data.city)
              }
            })
          },
          // 查询市下面区县
          async getArea(code) {
            try {
              const getAreaData = await updateResturant({
                'url': '/index/getArea',
                data: {
                  code
                }
              });
              this.getAreaData = getAreaData.data;
            } catch (error) {
              // alert(error)
            }
          },
          // 登录
          async storeDetail(code) {
            let that = this;
            try {
              const user = await updateResturant({
                'url': '/user/register',
                data: {
                  code
                }
              });
              sessionStorage.setItem('token', user.data.tokens);
              sessionStorage.setItem('userInfo', JSON.stringify(user.data));
              that.userInfo = user.data;
              that.getRedPacketIndex();
              that.getStoreIndexData();
              that.attention();
            } catch (error) {
              console.log(error);
              // alert(error)
            }
          },
          // 解析时间
          manageTime(timestamp, num = 0) {
            var date = new Date(timestamp * 1000);
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            m = m < 10 ? ('0' + m) : m;
            var d = date.getDate();
            d = d < 10 ? ('0' + d) : d;
            var h = date.getHours();
            h = h < 10 ? ('0' + h) : h;
            var minute = date.getMinutes();
            var second = date.getSeconds();
            minute = minute < 10 ? ('0' + minute) : minute;
            second = second < 10 ? ('0' + second) : second;
            if (num == 0) {
              return y + '-' + m + '-' + d;
            } else {
              return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
            };
          },
          // 上拉刷新
          scrollToTop() {
            var that = this,
              scrollTop = document.documentElement.scrollTop || document.body.scrollTop,
              windowHeight = document.documentElement.clientHeight || document.body.clientHeight,
              scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
            if (scrollTop + windowHeight == scrollHeight) {
              that.page = that.page < 2 ? 2 : that.page += 1;
              that.getStoreIndexData({
                red_packet: that.red_packet_id,
                distance: that.distance_id,
                category: that.getCategory_id,
                code: that.getCityCode_id
              });
            } else {
              // that.loading = true;
            }
          },
          // 是否关注公众号
          async attention() {
            try {
              const attentionCode = await updateResturantGet({
                'url': '/order/attention',
                data: {}
              });
              this.attentionData = attentionCode.data;
              this.QRcode = true;
            } catch (error) {
              this.QRcode = false;

            }
          },
        }
      })
    })
  </script>
</body>

</html>