<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>店铺收藏</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="/static/index/libs/weui.min.css">
  <link rel="stylesheet" href="/static/index/libs/jquery-weui.min.css">
  <link rel="stylesheet" href="/static/index/libs/index.css">
</head>

<body class="bg-gray">
  <div id="app" v-cloak>
    <div class="likelist">
      <!-- <a :href="'shop.html?id='+item.store_id"> -->
      <div class="shopbox likeitem shadow" v-for='(item,index) in listsList' :key='index'
        :style="{color:item.expired == 1 ? '#eee':''}">
        <div class="storebox">
          <div class="storeimg" @click='Aherf(item.store_id)'><img :src="item.image"></div>
          <div class="storename">
            <div class="namebox">
              <div class="name">{{item.name}}</div>
              <div class="like" @click='collect(item.store_id)'><img src="/static/index/images/likeon.png"></div>
            </div>
            <div class="shop_tips" @click='Aherf(item.store_id)'>
              <p v-for='(data,index) in JSON.parse(item.tags)' :key='index'>{{data}}</p>
            </div>
            <div class="shop_money" @click='Aherf(item.store_id)'>
              <div class="money">{{item.price}}元</div>
              <div class="distance">{{item.km}}km</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 缺失页面 -->
      <div class="padding-xl" v-if='listsList.length==0'>
        <div class="emptybox padding-lg text-center">
          <img src="/static/index/images/empty.png">
          <div class="text-ml">暂无信息~</div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/index/libs/jquery-2.1.4.js"></script>
  <script src="/static/index/libs/fastclick.js"></script>
  <script src="/static/index/libs/jquery-weui.min.js"></script>
  <script src="/static/index/libs/swiper.min.js"></script>
  <script src="/static/index/libs/request.js"></script>
  <script src="/static/index/libs/vue.min.js"></script>
  <script>
    $(function () {
      FastClick.attach(document.body);
      new Vue({
        el: "#app",
        data() {
          return {
            listsList: []
          }
        },
        created() {
          this.lists();
        },
        methods: {
          // 收藏列表
          async lists() {
            try {
              const listsData = await updateResturantGet({
                'url': '/Collection/lists',
                data: {
                  latlng: [JSON.parse(sessionStorage.getItem('getlication')).latitude, JSON.parse(
                    sessionStorage.getItem('getlication')).longitude].join(','),
                }
              });
              this.listsList = listsData.data.list;
            } catch (error) {

            }
          },
          // 跳转
          Aherf(id) {
            window.location.href = 'shop.html?id=' + id
          },
          // 收藏
          async collect(store_id) {
            try {
              const collectCode = await updateResturantGet({
                'url': '/Collection/collect',
                data: {
                  store_id
                }
              });
              this.lists();
            } catch (error) {

            }
          },
        }
      })
    });
  </script>
</body>

</html>